<main *ngIf="showSignIn" class="sign-in">
  <h2>Sign In</h2>
  <form (submit)="signIn()">
    <label>Name</label>
    <input
      [(ngModel)]="signInUsername"
      name="xx"
      placeholder="Try Steve or Jane"
    />
    <button>Sign in</button>
  </form>
</main>
<ng-container *ngIf="!showSignIn">
  <div *ngIf="remult.user">
    Hello {{ remult.user.name }}
    <button (click)="signOut()">Sign Out</button>
  </div>
  <div *ngIf="!remult.user">
    <button (click)="showSignIn = true">Sign In</button>
  </div>
  <app-todo></app-todo>
</ng-container>
