<div>
  <main>
    <form (submit)="addTask(); $event.preventDefault()">
      <input [(ngModel)]="newTaskTitle" placeholder="What needs to be done?" />
    </form>
    <div *ngFor="let task of tasks">
      <input type="checkbox" [(ngModel)]="task.completed" />
      <input [(ngModel)]="task.title" />
      <button (click)="deleteTask(task)">x</button>
    </div>
  </main>
  <div>
    <button (click)="setAllCompleted(true)">Set all as completed</button>
    <button (click)="setAllCompleted(false)">Set all as uncompleted</button>
  </div>
</div>